div.fancy-select {
	position: relative;
	color: #DADCE1;
    font-family: 'Naste-Book';
	font-size:14px;
}
div.fancy-select div.trigger {
	border-radius: 3px;
	cursor: pointer;
	padding: 0 24px 0 10px;
	border: 1px solid #475266;
	height: 32px;
	line-height: 31px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	background:#2F3E59;
	color: #DADCE1;
	width: 100%;
	-webkit-box-shadow: inset 1px 1px 5px 0px rgba(20,36,65,0.26);
	-moz-box-shadow: inset 1px 1px 5px 0px rgba(20,36,65,0.26);
	box-shadow: inset 1px 1px 5px 0px rgba(20,36,65,0.26);
	transition: all 240ms ease-out;
	-webkit-transition: all 240ms ease-out;
	-moz-transition: all 240ms ease-out;
	-ms-transition: all 240ms ease-out;
	-o-transition: all 240ms ease-out;
}
.light_select div.fancy-select div.trigger{
	color:#6E7580;
	background: #FFFFFF;
    border: 1px solid #9FA5B0;
	font-family: 'Naste-Book';
}
div.fancy-select div.trigger:after {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #A1A2A2;
	top: 13px;
	right: 11px;
}
.light_select div.fancy-select div.trigger:after {
	border-top-color: #243D69;
}
div.fancy-select div.trigger.open:after {
	border-top-color: #0B7399;
}

div.fancy-select ul.options {
	list-style: none;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background:#2F3E59;
	border-radius: 3px;
	border: 1px solid #475266;
	min-width: 100%;

	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}
.light_select div.fancy-select ul.options {
	background: #FFFFFF;
    border: 1px solid #9FA5B0;
	color:#6E7580;
}
div.fancy-select ul.options.open {
	visibility: visible;
	top: 30px;
	opacity: 1;

	/* have to use a non-visibility transition to prevent this iOS issue (bug?): */
	/*http://stackoverflow.com/questions/10736478/css-animation-visibility-visible-works-on-chrome-and-safari-but-not-on-ios*/
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}

div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 30px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}

div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 30px;

	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}

div.fancy-select ul.options li {
	padding:0 10px;
	color: #DADCE1;
	cursor: pointer;
	white-space: nowrap;

	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}
.light_select div.fancy-select ul.options li  {
	color:#6E7580;
}

div.fancy-select ul.options li:before{
	display:none;
}
div.fancy-select ul.options li.selected {
	color: #0B7399;
}
div.fancy-select ul.options li.hover {
	color: #0B7399;
}